#container{
    width: 500px;
    height: 500px;
    background-color: green;
    border: 15px solid yellow;
    margin-top: 115px;
    margin-left: 480px;
    padding: 0px;
}
#main{
    width: 496px;
    height: 100px;
    font-size: 60px;
    color: hotpink;
    text-align: center;
    background-color:aquamarine;
    padding: 2px;
}
h1{
    margin: 0px;
}
#main1{
    width: 500px;
    height: 400px;
    box-sizing: border-box;
}
#num{
    width: 28px;
    height: 50px;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    
}
#number1{
       width: 120px;
       height: 50px;
       margin-top: 50px;
       margin-left: 15px;
}
#number2{
       width: 120px;
       height: 50px;
       margin-top: 50px;
       margin-right: 10px;
}
#number3{
       width: 150px;
       height: 50px;
       margin-top: 30px;
       margin-left: 165px;;
}
button{
    width: 130px;
    height: 60px;
    margin-top: 0px;
    margin-bottom: -30px;
   padding-bottom: 28px;
    padding-top: 27px;
}
button h2{
 
   margin-top: -8px;
   margin-left: -2px;
    font-size: 28px;
}
h2{
    margin: 20px;
    text-align: center;
    font-size: 80px;
}
input[type="number"],
input[type="text"],
textarea{
    width: 100%;
    font-size: 50px;
}
